{% extends "templates/login.html" %}
{% block login %}
<div class='container branding'>
<img
src='https://upload.wikimedia.org/wikipedia/commons/7/77/Leuphana_logo.jpg'>
</div>


{{ super() }}

<footer class='navbar-default'>
</footer>

{% endblock %}

{% block stylesheet %}
{{ super() }}
<style>
.branding img {
    display: block;
    width: 350px;
    /* top right bottom left */
    margin: 0 auto 0 auto;
}

#login-main .auth-form-body {
    border-color: rgb(122, 13, 48);
    color: white;
}

#login-main {
    margin-top: 1%;
    height: 100%;
}

footer {
    border-top: 1px solid silver;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p{
    margin: 0 auto 0 auto;
    text-align: center;
}

#login-main form {
    vertical-align: top;
}

#login-main .auth-form-header {
    color: white;
    background: rgb(219, 170, 0);
    border: 1px solid;
    border-color: rgb(0, 124, 186);
}

{% extends "templates/login.html" %}
{% block login %}
<div class='container branding'>
<img
src='https://upload.wikimedia.org/wikipedia/commons/7/77/Leuphana_logo.jpg'>
</div>


{{ super() }}

<footer class='navbar-default'>
    <p>Access to the DATAxtended Cluster via Juyter is currently in Beta, you can
    request an account by open a ticket with the Research It team | DigiTaL is supported by the Stiftung Innovation in der Hochschullehre (Grant info).</p>
</footer>

{% endblock %}

{% block stylesheet %}
{{ super() }}
<style>
.branding img {
    display: block;
